{% extends "backs.html" %}
{% block content %}
<div class="content-wrapper">
  <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>

                      <th>Check In</th>
                      <th>Check Out</th>
                      <th>Day Arrival</th>
                      <th>Time duration</th>
                      <th>Total Amount</th>
                      <th>Room Id</th>


                    </tr>
                  </thead>
                  <tbody>
                  {% for hotel_ress in data %}

                    <tr>
                      <td>{{hotel_ress.check_in}}</td>
                      <td>{{hotel_ress.check_out}}</td>
                        <td>{{hotel_ress.day_arrival}}</td>
                        <td>{{hotel_ress.time_duration}}</td>
                        <td>{{hotel_ress.total_amount}}</td>
                        <td>{{hotel_ress.room_id.room_id}}</td>
                        <td>{{hotel_ress.user_id.role.role_id}}</td>


                    </tr>
                  {%endfor%}

                  </tbody>
                </table>
              </div>

</div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>

<script>
{% endblock %}
