{% extends "back.html" %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add a Resturant</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add A Resturant</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <form method="POST" action="add_my_resturant">
                      {%csrf_token%}

                   <div class="col">
                  <div class="form-group">

                    <label for="name">Resturant name</label>
                      <input type="text" class="form-control" id="" placeholder="Resturant Name" name="resturantname">
                    </div>
                    <label for="name">Resturant capacity</label>
                    <select name="restype" >
                        {%for r in resturant %}
                        <option value="{{r.res_table_id}}">{{r.no_of_seats}}</option>


                        {%endfor%}

                    </select>










                  <div class="form-group">
                      <label for="type">Resturant Location</label>
                      <input type="text" class="form-control" id="" placeholder="Resturant Location" name="resturantlocation" >
                    </div>
                  <div class="form-group">
                      <label for="type">Resturant floor</label>
                      <input type="text" class="form-control" id="" placeholder="Resturant Tables Capacity" name="restable" >
                    </div>
                  <div class="form-group">
                      <label for="price">Resturant type</label>
                      <input type="text" class="form-control" id="" placeholder="what cuisine you offer" name="resturanttype">
                    </div>

                    <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>

                 </div>



                </form>
            </div>
        </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
         <!-- Main content -->
<div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Vehicle Name</th>
                      <th>vehicle type</th>
                      <th>Event Price</th>
                      <th>Event time</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for v in all_vehicles %}

                    <tr>
                      <td>{{v.vehicles_id}}</td>
                      <td>{{v.vehicles_name}}</td>
                      <td>{{v.vehicles_type.vehicle_type_name}}</td>
                      <td>{{v.model_id}}</td>
                      <td>{{v.model_name}}</td>
                    </tr>
                  {%endfor%}

                  </tbody>
                </table>
              </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.2-pre
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">MYTOURGUIDE</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>

<script>
   $(document).ready(function() {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

  })
</script>
{% endblock %}
