<!DOCTYPE html>
<html>
<head>
    <title>reservation</title>
    <link rel = "stylesheet" type = "text/css" href = "static/style.css"></link>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" action="add_reservation">
            {%csrf_token%}
        <h1>Try searchinng for a hotel that fits your needs</h1>
        <div class = "register">
        <!-- <form method = "post" id = "register" action = ""> -->
        <h2>RESERVE YOUR SLOT</h2>
        <!-- <label>Username:</label><br>
        <input type = "text" name = "hotelname" id = "name"
        placeholder="enter hotel name"><br><br>
        <label>User email:</label><br>
        <input type = "text" name = "hotelname" id = "name"
        placeholder="enter hotel name"><br><br>
        <label>Hotel name:</label><br>
        <input type = "text" name = "hotelname" id = "name"
        placeholder="enter hotel name"><br><br>
        <label>no of persons</label><br>
        <input type = "text" name = "noofpersons" id = "name"
        placeholder="enter your name"><br><br> -->


        <label>check in:</label><br>
        <input type = "time" name = "checkin" id = "name"
        placeholder="enter your check-in" required><br><br>
        <label>check out:</label><br>
        <input type = "time" name = "checkout" id = "name"
        placeholder="enter your check-out" required><br><br>

        <label>Arrival Day:</label><br>
        <input type = "date" name = "day" id = "day"
        placeholder="enter your day of arrival" required><br><br>


        <label>Time Duration:</label><br>
        <input type = "text" name = "time" id = "time"
        placeholder="enter time duration" required><br><br>

        <label>Total Amount:</label><br>
        <input type = "number" name = "amount" id = "amount"
        placeholder="enter total amount" required><br><br>
        <label>HOTEL:</label>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <select name="hotels" id = "hotel_id">
            <option>Select Hotel</option>
            {% for i in hotels %}
            <option  value="{{i.hotel_id}}"  >{{i.hotel_name}}</option>
            {% endfor %}
        </select>

<!--        <select id = "hotel" name="hotel_and_room" required>-->
<!--            <option value="">&#45;&#45;Select Room&#45;&#45;</option>-->

<!--            {% for room in rooms %}-->
<!--            <option value="{{ room.room_id }}|{{room.hotel_id.hotel_id}}">{{ room.room_type.displayname }} | {{ room.hotel_id.hotel_name }}</option>-->
<!--            {% endfor %}-->
<!--        </select><br/><br/>-->



        <input type="submit" value="Submit Form">

        </div>
        </form>
 <script>

    $("#hotel_id").on('change',function(){
    alert("Hello! I am an alert box!!");
    console.log( $(this).val() );
    var catid;
    catid = $('#hotel_id').val();

    $.ajax(
    {
        type:"GET",
        url: "getrooms/",
        data:{
                 hotel_id: catid
        },
        success: function( data )
        {
            <center>
                <h1>SUCCESSS</h1>
            </center>
        }
     })
});


</script>

    </body>
</html>

