<!DOCTYPE html>
<html>
<head>
    <title>reservation</title>
    <link rel = "stylesheet" type = "text/css" href = "static/style.css"></link>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" action="add_reservation">
            {%csrf_token%}
        <h1>Try searchinng for a hotel that fits your needs</h1>
        <div class = "register">
        <!-- <form method = "post" id = "register" action = ""> -->
        <h2>RESERVE YOUR SLOT</h2>
        <!-- <label>Username:</label><br>
        <input type = "text" name = "hotelname" id = "name"
        placeholder="enter hotel name"><br><br>
        <label>User email:</label><br>
        <input type = "text" name = "hotelname" id = "name"
        placeholder="enter hotel name"><br><br>
        <label>Hotel name:</label><br>
        <input type = "text" name = "hotelname" id = "name"
        placeholder="enter hotel name"><br><br>
        <label>no of persons</label><br>
        <input type = "text" name = "noofpersons" id = "name"
        placeholder="enter your name"><br><br> -->


        <label>check in:</label><br>
        <input type = "time" name = "checkin" id = "name"
        placeholder="enter your check-in" required><br><br>
        <label>check out:</label><br>
        <input type = "time" name = "checkout" id = "name"
        placeholder="enter your check-out" required><br><br>

        <label>Arrival Day:</label><br>
        <input type = "date" name = "day" id = "day"
        placeholder="enter your day of arrival" required><br><br>


        <label>Time Duration:</label><br>
        <input type = "text" name = "time" id = "time"
        placeholder="enter time duration" required><br><br>

        <label>Total Amount:</label><br>
        <input type = "number" name = "amount" id = "amount"
        placeholder="enter total amount" required><br><br>
        <label>HOTEL:</label>
        <select id = "hotel" name="hotel_id">
            {% for i in hotels %}
            <option  value="{{i.hotel_id}}"  id = "getHotelRooms" data-catid= "{{i.hotel_id}}">{{i.hotel_name}}</option>
            {% endfor %}
        </select>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    $('#getHotelRooms').change(function(){
    console.log( $(this).val() );
    var catid;
    catid = $(this).attr("data-catid");
    $.ajax(
    {
        type:"GET",
        url: "getrooms/",
        data:{
                 hotel_id: catid
        },
        success: function( data )
        {
            <center>
                <h1>SUCCESSS</h1>
            </center>
        }
     })
});
</script>
        <select id = "hotel" name="hotel_and_room" required>
            <option value="">--Select Room--</option>

            {% for room in rooms %}
            <option value="{{ room.room_id }}|{{room.hotel_id.hotel_id}}">{{ room.room_type.displayname }} | {{ room.hotel_id.hotel_name }}</option>
            {% endfor %}
        </select><br/><br/>


        <!-- <label>feature:</label>
        <select id = "amenity" name="amenity">
            <option>roof availability</option>
            <option>hot water</option>
            <option>prinvate parking</option>
            <option>normal</option>
        </select><br/><br/> -->

        <!-- <label id='roomLabel' hidden>room type:</label>
        <select id = "roomtype" name="roomtype" hidden required>

        </select><br/><br/> -->

        <input type="submit" value="Submit Form">
        <!-- <input type = "text" name = "room_type" id = "name"
        placeholder="enter your room type"><br><br>
        <label>date:</label><br>
        <input type = "text" name = "date" id = "name"
        placeholder="enter date"><br><br>
        <label>time duration:</label><br>
        <input type = "text" name = "time_duration" id = "name"
        placeholder="enter time-duration"><br><br>
        <input type = "radio" name = "time" id = "time">
        <span id="time">&nbsp; time</span>&nbsp;&nbsp;
        <span id="time">&nbsp; timee</span>&nbsp;&nbsp;
        <span id="time">&nbsp; timeee</span>&nbsp;&nbsp;
        <span id="time">&nbsp; timeeee</span>&nbsp;&nbsp;<br><br><br>
        <input type = "submit" value="submit" id="sub">
        !-->

        <!-- </form> -->
        </div>
        </form>


<script>

    function getHotelRooms(val){
        var selectedHotel = val.options[val.selectedIndex].value;

        $.ajax({
            url:"/reservation",
            data: {'selectedHotel': selectedHotel, "csrfmiddlewaretoken": '{{ csrf_token }}' },
            dataType: 'JSON',
            success: function(values){

                var ddl = document.getElementById('roomtype');
                ddl.innerHTML="";
                document.getElementById('roomLabel').hidden = false;
                txt = document.createTextNode('--Select Room Type--');
                opt = document.createElement('OPTION');
                opt.setAttribute('value',"");
                opt.appendChild(txt);
                ddl.appendChild(opt);

                for(var key in values['selectedHotelRooms']){

                    txt = document.createTextNode(values['selectedHotelRooms'][key]);
                    opt = document.createElement('OPTION');
                    opt.setAttribute('value',key);
                    opt.appendChild(txt);
                    ddl.appendChild(opt);
                }
                ddl.hidden = false;


            }});
    }

</script>

    </body>
</html>
