<!DOCTYPE html>
<html>
<head>
    <title>reservation</title>
    <link rel = "stylesheet" type = "text/css" href = "css/style.css"></link>
</head>
    <body>
        <h1>RESERVE YOUR SLOT</h1>
        <div class = "register">
        <form method = "post" id = "register" action = "">
        <h2>register here</h2>
        <label>first name:</label><br>
        <input type = "text" name = "Fname" id = "name"
        placeholder="enter your name"><br><br>
        <label>last name:</label><br>
        <input type = "text" name = "Lname" id = "name"
        placeholder="enter your last name"><br><br>
        <label>Phone number:</label><br>
        <input type = "text" name = "phone_number" id = "name"
        placeholder="enter your phone number"><br><br>
        <label>check in:</label><br>
        <input type = "text" name = "check_in" id = "name"
        placeholder="enter your check-in"><br><br>
        <label>check out:</label><br>
        <input type = "text" name = "check_out" id = "name"
        placeholder="enter your check-out"><br><br>
        <label>room type:</label>
        <select id = "roomtype">
            <option>suite</option>
            <option>deluxe</option>
            <option>penthouse</option>
        </select>
        <input type = "text" name = "room_type" id = "name"
        placeholder="enter your room type"><br><br>
        <label>date:</label><br>
        <input type = "text" name = "date" id = "name"
        placeholder="enter date"><br><br>
        <label>time duration:</label><br>
        <input type = "text" name = "time_duration" id = "name"
        placeholder="enter time-duration"><br><br>
        <input type = "radio" name = "time" id = "time">
        <span id="time">&nbsp; time</span>&nbsp;&nbsp;
        <span id="time">&nbsp; timee</span>&nbsp;&nbsp;
        <span id="time">&nbsp; timeee</span>&nbsp;&nbsp;
        <span id="time">&nbsp; timeeee</span>&nbsp;&nbsp;<br><br><br>
        <input type = "submit" value="submit" id="sub">


        </form>
        </div>

    </body>
</html>
